.animation {
  animation: loading-indicator 0.9s ease-out forwards;
  animation-iteration-count: infinite;
}

@keyframes loading-indicator {
  0% {
    opacity: 1;
    color: white;
  }

  50% {
    opacity: 0.7;
    color: #757575;
  }

  100% {
    opacity: 1;
    color: white;
  }
}
